@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Padauk&display=swap');

/* TOUT ELÉMENT */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  /*padding: 0;*/
}

/* DOCUMENT */
html, body{ 
  overflow:auto;
  height: 100%;
}

body {
  background: #F1F1F1;
  font-family: "Exo 2", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  /*margin-left: 15px;*/
}

/* ELÉMENTS DU BODY */ 
/* Div de structure*/
#wrapper {
  min-height: 100%;
  position: relative;
  left:0;
}

#main{
  /*margin-top: 50px;*/
  position: relative;
  padding-bottom: 100px;
}

/* Titres*/

#page_container {
  border-radius: 5px;
}


h1, h2, h3, h4, h5, h6 {
  margin-left: 15px;
  color: #8D2F5D;
  font-weight: 600;
  /*font-weight: bold;*/
  margin-top: 10px; 
}

/* Body - Header / Footer */
#banner-header {
  background-image: url('../img/header_1440x115_72.jpg');
  /*height:115px;*/
  position: relative;
  left: 0;
}

#banner-footer {
  background-image: url('../img/footer_1440x88_72.jpg'); 
  /*height:88px;*/

  position: absolute;

  /*position: fixed;*/
  /*left: 0;*/
  bottom: 0;
  width: 100%;
  vertical-align: middle;
}

#banner-footer, #banner-header {
  /*background-size: 100%;*/
  background-repeat: no-repeat;
}

.text-banner {
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  color: white;
  /*display: flex;*/
  /*align-items: center;*/
  margin: auto;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
}

#banner-header .text-banner {
  /*height: 75px;*/
  font-size: 230%;
  font-weight: 600;
}

#banner-footer .text-banner {
  /*height: 60px;*/
  font-size: 130%;
  font-weight: 600;
  padding: 15px;
}

/* Body - Menu */

nav {
  width:100%;
  height:50px;
  background: #F1F1F1;
  /*position: absolute;*/
}

.liste-nav {
  list-style: none;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.item {
  height: 100%;
  text-align: center;
  line-height: 50px;
  padding: 5px 20px 15px 0px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.item::after {
  content:'';
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 5px;
  background: #333;
  margin: -15px auto 0 auto;
  transition: width 0.2s ease-in-out;
}

.item:hover::after {
  width: 100%;
}

/* Menu - Bouton Responsive*/

.btn-responsive-menu {
  position: fixed;
  top: 100px;
  right: 15px;
  height: 40px;
  width: 30px; /*au lieu de 40px*/
  background: #F1F1F1;
  display: none;
  cursor: pointer; /* Affichage - avec FFX*/
}

.lignes {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #333;
  position: absolute;
  transition: all 0.5s ease-in-out;
  margin-top: 5px;
}


.lignes:nth-child(1) {
  top: 0px;
}

.lignes:nth-child(2) {
  top: 10px;
}

.lignes:nth-child(3) {
  top: 20px;
}


/* Menu - Animation du bouton*/
.btn-responsive-menu.active .lignes:nth-child(1) {
  top: 12px;
  transform: rotate(135deg);
}

.btn-responsive-menu.active .lignes:nth-child(2) {
  opacity: 0;
  transform: translateX(20);
}

.btn-responsive-menu.active .lignes:nth-child(3) {
  top: 12px;
  transform: rotate(-135deg);
}


@media screen and (max-width: 700px) {

  nav {
    position: relative;
    z-index: 9999; /* 05/12/2020 : devant le texte*/
    width: 100%;
  }

  .btn-responsive-menu {
    display:block;
  }
  
  /*.item::after {
    display: none;
  }*/

  .item:hover::after {
  width: 60px;
  }

  .liste-nav {
    top: -400px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .liste-nav .item {
    width: 150%; /*05/12/2020 : occuper tout la largeur des petits écrans */
    height: 50px;
    background: #F1F1F1;
    margin-top: -1px;

  }

  .liste-nav.active-menu {
    top: 50px;
  }
}

/* Sections accordéon */
.accordion-heading
{
  /*background: #f2e6ff;*/
  color: #8D2F5D;
  font-size:x-large;
}

.accordion-heading-bg
{
  background: #f2e6ff;
}



/* Body - Zone Formulaire */
.pull-right {
    /*margin-top: 2px;*/
    float:right;
      margin-bottom: 10px;
}

button >.pull-right {
    margin-top: 2px;
  float:right;
  margin-bottom: 0px;
}

.label-input {
  /*display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;*/
  align-items: center;
  padding: 0.375rem 0.75rem;
  /*margin-bottom: 0;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  /*text-align: center;*/
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin-left: 10px;
  min-width: 100px;

}

.input-test {
  border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    line-height: 1.5;
    margin-left: -5px;
    padding: 0.375rem 0.75rem;
    transition: none;
    min-width: 100px;
}

.label-gender {
  /*display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;*/
  align-items: center;
  padding: 0.375rem 0.75rem;
  /*margin-bottom: 0;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  min-width: 90px;

}

.zoneForm{
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  padding: 15px;
}
