@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Averia+Libre&display=swap');

/* TOUT ELÉMENT */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  box-sizing: inherit;
}

/* DOCUMENT */

html, body{ 
  overflow:auto;
    height: 100%;
    min-height: 100% !important;
   /* border: solid 5px;*/
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
}

body {
  background: #F2F2F2;
  font-family: "Exo 2", sans-serif;
 }

/* ELÉMENTS DU BODY */ 

.black-line {
  background-color: black;
  height: 10px;
}

.grey-line {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 15px;
}

.link-to-recap {
  color: white;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
  font-size: 0.75rem;
} 

#pageContainer {
  box-sizing: border-box;
  width:100%;
  height: 100%;
  min-height: 100% !important;
  padding-top:5px; 
  width: 98%; 
  border:1px solid #ced4da;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}


#content-container {
  padding-top:5px; 
  width: 98%; 
  border:1px solid #ced4da;
  padding-bottom: 5vh;
}

#main{
  position: relative;
  margin-left: 15px;
  margin-bottom: 5vh;
  min-height:75vh;
}

.pull-right {
  float:right;
  margin-left: 15px;
}

.pull-left {
  float:left;
  margin-left: 15px;
}

/* Titres*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 10px;
  font-family: "Exo 2", sans-serif;
}

h4, button, input[type = reset] {
  font-family: "Averia Libre", sans-serif;
}

#btnToDoList {
 font-family: "Exo 2", sans-serif; 
}

/* Sections Accordéon*/
.accordion-heading
{
  background: #f2e6ff;
  font-size: 1.75rem;
}
/* Listes */
ul, li {
  margin: 0 0 0 5px; 
}

/**/
textarea {
  resize:none;
  border-radius: 10px;

}

.label-textarea, #closing-date-cell {
  vertical-align: top;
}

#closing-date-cell {
  vertical-align: super;
}

#input-tk-text, #input-upd-tk-text {
  width:70%;
}

#input-tk-comment, #input-upd-tk-comment {
  width:70%;
}

/**/

/* Body - Header / Footer */
#banner-header {
  margin-top: 25;
  background-image: url('../img/banner_violet.png');
  width: 100%;
}

#banner-footer {
  background-image: url('../img/banner_violet.png');
  min-height:88px;
  bottom: 0;
  width: 100%;
  margin-top: 2vh;
}

#banner-footer, #banner-header {
  background-repeat: no-repeat;
  left: 0;
  right:0;

}

.text-banner {
  color: white;
  margin: auto;
  padding: 10px;

}

#banner-header .text-banner {
  height: 75px;
  font-size: 36px;
  font-weight: 600;
}

#banner-footer .text-banner {
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  padding: 30px 0 30px 15px ;
}

#banner-footer .text-banner > p {
  float: right;
  margin-right: 1rem;
}


@media screen and (min-width: 1440px) {
  #pageContainer {
    width:1400px;
    margin-left: 15vh;
    margin-right: 15vh;

  }

  #content-container {
    width:100%;
  }
}

/**/

#bodyToDoList {

  width: 100%;
  border-radius: 10px;
}

.bordered-div {
  padding: 5px; 
  width: 100%; 
  border:1px solid #ced4da;
  margin-bottom: 10px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
}

.btn {
  margin-bottom: 0.5vh;

}

.btn-primary {
  background-color: #191970;
  border-color: #191970;
}

.btn-primary:hover {
  background-color: #2525a7;
  border-color: #2525a7;
}

.btn-success {
  background-color: #006600;
  border-color: #006600;
}

.btn-light {
  border-color: #ced4da;
}

.btn-danger {
  background-color: #990000;
  border-color: #990000;
}

#fileMnt, #taskMnt {
  
}

#headingToDoList, .card-header {
  border-bottom: none;
  padding: 2px;

}


/* Zone File Management */
#taskExtListFile {
  display: none;
}


/* To Do List */
#tableToDoList, #tableToDoListContent {
  width: 100%;
}

#tableToDoList tr:hover, 
#tableToDoList tr:nth-child(odd):hover {
  background-color: #d5d5f6;
  border-left: 5px solid white;
}

#tableToDoList tr:nth-child(odd) {
  background-color: #f2e6ff;
}

.table-dark tr:nth-child(odd) {
  color: black;
  border-left: 5px solid #f2e6ff;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: white;
}

/*.closed {
  text-decoration: line-through;
}*/ 

.toDoList-th {
  padding: 12px 10px;
  text-align: left;
  color: white;
  background-color: #5B005B;
  margin-right: 20px;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  font-size:1.5vw;
}

.actions-col {
  width: 13%;
}

.toDoList-item {
  padding: 8px;
  margin: 5px;
}

.urgent-task {
  color:red;
  font-weight: bold;
}


.toDoList-item-actions {
  display: inline-block;
  padding: 2vh 2vw;

}

#tableToDoList button{   
  border: none;
  color: white;
  margin:2px;
}

.btn-modify {
  background-color: #006666;
}

.btn-view {
  background-color: #660066;
}

.btn-close {
  background-color: #660066;
}

.btn-delete {
  background-color: #990000;
}

button:disabled {
  opacity:0.5;
}

/* Tableau Ajout To Do List */

.label-input {
      align-items: center;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      white-space: nowrap;
      background-color: #e9ecef;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      margin-left: 10px;
      margin-right: 5px;
      min-width: 100px;
      max-width: 900px;
      
}

#formAddTaskDiv input:required {
  border-color: #800000;
  border-radius: 7px;
}


/*Modale*/

/* Set a style for all buttons */
* {box-sizing: border-box}

/* Set a style for all buttons */
#modal button {
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 7px;
}

#modal button:hover {
  opacity:1;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(102, 102, 153, 0.7);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #E6E6E6;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}


/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.modal-comment{
  margin: 2vh 3vw;
}

#modalTitle {
  color:black;
}

/**/
.hidden-by-default {
  display: none;
}